

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title -}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
  </head>
  <body>
    <h1>{{ page.title }}</h1>

    {% capture words %}
      {{ page.content | number_of_words }}
    {% endcapture %}

    {% unless words contains "-" or page.url == '/' %}
      {% assign minutes = words | divided_by: 180 %}
      <small>
      {{ words | append: " words | " }}
  
      {% if minutes == 0 %}
        Less than 1 minute to read
      {% elsif minutes == 1 %}
        1 minute to read
      {% else %}
        {{ minutes }} minutes to read
      {% endif %}
      </small>
    {% endunless %}


    {% if page.draft -%}
    <p>
    <strong>Note:</strong> This is a draft best practice and is subject to change.
    </p>
    {% endif %}

    {{ content }}

    <hr />
    
    <footer>
      <small>
        {% unless page.url == '/' %}
          <a href="/">java.ms</a>&nbsp;|&nbsp;
        {% endunless %}
        Developed by <a href="mailto:{{ page.author.email }}">{{ page.author.name }}</a>
      </small>
    </footer>
  </body>
</html>